* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	width: 70%;
	margin: 0 auto;
	padding: 20px;
}

#dateInput {
	width: 150px;
	height: 30px;
}

.button {
	width: 150px;
	height: 40px;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	background-color: greenyellow;
}

.error {
	color: red;
	font-weight: bold;
	display: none;
}
